// Variables of Mist scheme
// =================================================

$font-size-headings-base = 26px

$brand-color             = $gainsboro
$brand-hover-color       = white

$site-meta-text-align    = left
$posts-collapse-left     = 0

$read-more-color         = $link-color
$read-more-bg-color      = transparent

$b2t-bg-color       = $black-dim
$sidebar-nav-color  = $grey-dim
